<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/index.css"/>
</head>
<body style="margin: 0px;">

<div id="app">
    <el-menu theme="dark" :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item><span style="font-size:x-large;">Jconf配置管理平台</span></el-menu-item>
        <el-menu-item index="2"><span style="font-size:larger;">系统监控</span></el-menu-item>
        <el-menu-item index="3"><span style="font-size:larger;">配置管理</span></el-menu-item>
        <el-menu-item index="4"><span style="font-size:larger;">权限管理</span></el-menu-item>
        <el-menu-item index="5"><span style="font-size:larger;">系统管理</span></el-menu-item>
    </el-menu>
    <div class="line" style="margin-top: 20px;"></div>




    <div style="width: 80%;margin-left:10%;margin-bottom: 1%;">
        <el-form :inline="true" :model="formInline" class="demo-form-inline">

            <el-form-item label="Key" style="font-size:larger;">
                <template>
                    <el-select v-model="value9"    multiple filterable="" remote placeholder="根据key或者项目名称搜索"
                               :remote-method="remoteMethod" :loading="loading" style="width:400px;">
                        <el-option v-for="item in options4" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </template>
            </el-form-item>

            <el-form-item>
                <el-button type="success" @click="onSearch" icon="search">搜索</el-button>
            </el-form-item>
            <el-form-item>
                <el-button type="info" @click="dialogFormVisible = true">新增配置</el-button>
            </el-form-item>
        </el-form>

        <template>
            <el-select v-model="value" placeholder="请选择环境">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </template>

    </div>






    <template>
        <el-table :data="tableData" border style="width: 80%;margin-left:10%;">
            <el-table-column label="#" width="60">
                <template scope="scope">
                    <span>{{ scope.row.date }}</span>
                </template>
            </el-table-column>
            <el-table-column label="Key" width="300">
                <template scope="scope">
                    <span >spring.data.sources.jdbc</span>
                </template>
            </el-table-column>
            <el-table-column label="Value" width="80">
                <template scope="scope">
                    <el-popover trigger="hover" placement="top">
                        <p>住址: {{ scope.row.address }}</p>
                        <div slot="reference" class="name-wrapper">
                            <el-tag>查看</el-tag>
                        </div>
                    </el-popover>
                </template>
            </el-table-column>
            <el-table-column label="类型" width="90">
                <template scope="scope">
                    <span>String</span>
                </template>
            </el-table-column>

            <el-table-column label="环境" width="80">
                <template scope="scope">
                    <span >
                        <el-tag type="success">Pro</el-tag>
                       </span>
                </template>
            </el-table-column>

            <el-table-column label="负责人" width="150">
                <template scope="scope">
                    <span style="margin-left: 10px">shenwenbo</span>
                </template>
            </el-table-column>

            <el-table-column label="修改时间" width="180">
                <template scope="scope">
                    <span>2017-06-20:19:20:00</span>
                </template>
            </el-table-column>

            <el-table-column label="历史版本" width="100">
                <template scope="scope">
                    <span>1.0.0</span>
                </template>
            </el-table-column>

            <el-table-column label="状态" width="150">
                    <template scope="scope">
                        <el-button size="small" type="success">启用</el-button>
                        <el-button size="small" >停止</el-button>
                    </template>
            </el-table-column>

            <el-table-column label="操作">
                <template scope="scope">
                    <el-button size="small" @click="handleEdit(scope.$index, scope.row)">修改</el-button>
                    <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>

    <div class="page" border style="width: 80%;margin-left:10%;margin-top: 1%;padding: 0;">
        <div class="block" style="padding-left: 0%;">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page.sync="currentPage1"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="10"
                    layout="sizes, prev, pager, next"
                    :total="1000">
            </el-pagination>
        </div>
    </div>




</div>

</body>
<script src="../js/vue.js"></script>
<script src="../js/index.js"></script>
<script src="../js/_index.js"></script>
</html>